- var petitionId = petition.petitionId;
- var attributes = petition.attributes;
- var action = attributes.action;
- var background = attributes.background;
- var details = attributes.additionalDetails;
- var state = attributes.state;

<!DOCTYPE html>
html(lang="zh-Hans")
    head
        include ./components/head.pug
        title 管理信件 - #{action}
    body
        include ./components/header.pug
        main
            div(class="wrapper")
                include ./components/misc/flash-msg.pug
                h1 管理信件：#{action}
                div(class="section")
                    h2 信件原文
                    div(class="article")
                        p #{background}
                        if details
                            div(class="togglable")
                                div(class="petition-details-toggler"): span
                                div(class="togglable-content"): p #{details}
                    if state === 'closed'
                        div(class="fixed-msg").
                            信件已关闭
                            <div class="secondary">所有信件有效期为一个月</div>
                section
                    - var response = attributes.response;
                    - var needResponse = attributes.responseThresholdReachedAt ? true : false;
                    - var summary = response ? response.summary : '';
                    - var details = response ? response.details : '';
                    h2
                        | 编辑回复
                        if !needResponse
                            div(class="heading-suffix") 目前无需添加回复。
                    form(id="response_creator" action=`/petitions/${petitionId}/manage/new-response` method="post")
                        fieldset(disabled=!needResponse)
                            div(class="form-group")
                                label(for="response_summary") 回复总结
                                textarea(class="form-control" name="response_summary", id="response_summary" required)
                                    if needResponse
                                        | #{summary}
                                    else
                                        | 目前无需填写回复总结
                            div(class="form-group")
                                label(for="response_details") 回复全文
                                textarea(class="form-control" name="response_details", id="response_details" required)
                                    if needResponse
                                        | #{details}
                                    else
                                        | 目前无需填写回复全文
                            button(class=needResponse ? "primary-button" : "disabled-button" type="submit") 提交回复
                section
                    - var debate = attributes.debate;
                    - var needDebate = attributes.debateThresholdReachedAt ? true : false;
                    - var overview = debate ? debate.overview: '';
                    - var transcriptUrl = debate ? debate.transcriptUrl: '';
                    h2
                        | 编辑讨论成果
                        if !needDebate
                            div(class="heading-suffix") 目前无需添加讨论成果。
                    form(id="debate_outcome_creator" action=`/petitions/${petitionId}/manage/new-debate-outcome` method="post")
                        fieldset(disabled=!needDebate)
                            div(class="form-group")
                                label(for="debate_overview") 讨论成果总结
                                textarea(class="form-control" name="debate_overview", id="debate_overview" required)
                                    if needDebate
                                        | #{overview}
                                    else
                                        | 目前无需填写讨论成果总结
                            div(class="form-group")
                                label(for="debate_transcript_url") 讨论文字记录链接
                                input(class="form-control" name="debate_transcript_url", id="debate_transcript_url" value=needDebate ? transcriptUrl : '目前无需填写讨论文字记录链接' required)
                            button(class=needDebate ? "primary-button" : "disabled-button" type="submit") 提交讨论成果
                section
                    h2
                        | 删除信件
                        div(class="heading-suffix") 信件一旦删除，将无法恢复。请三思而行。
                    a(class="primary-button h4" href=`/petitions/${petitionId}/manage/delete`) 删除信件
        include ./components/footer.pug