- var petition = petitions[n];
- var attributes = petition.attributes;
li(class="petition-item")
    h3(class="petition-heading")
        a(class="petition-link" href=`/petitions/${petition.petitionId}`) #{attributes.action}
    if attributes.response
        - var createdOn = attributes.response.createdOn;
        p(class="petition-info") 主管部门于#{createdOn}作出了回复
        blockquote
            p(class="h4 response-summary") #{attributes.response.summary}
        p(class="no-margin-bottom"): a(class="response-link" href=`/petitions/${petition.petitionId}?reveal_response=yes#response`) 查看回复全文
    else if attributes.debate
        - var createdOn = attributes.debate.createdOn;
        p(class="petition-info") 学校于#{createdOn}讨论了该议题
        blockquote
            p(class="h4 debate-summary no-margin-bottom") #{attributes.debate.overview}
        p: a(class="debate-link" href=`/petitions/${petition.petitionId}#debate`) 查看讨论成果概述
        p(class="no-margin-bottom"): a(class="debate-link" href="#") 查看针对该议题的研究
    else
        div(class="signature-progress-bar")
            - var signatureCount = attributes.signatureCount === undefined ? 0 : attributes.signatureCount;
            - var signatureGoal = signatureCount >= 100 ? 1000 : 100;
            div(class="signature-meter")
                div(class="fill" style=`width: ${signatureCount / signatureGoal * 100}%;`)
            div(class="secondary-text flex flex-space-between flex-bottom")
                div(class="count") #{signatureCount}个签名
                div(class="goal") 需要#{signatureGoal}个